* {
  box-sizing: border-box;
  text-align: center;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.ui.center.aligned.header {
  color: rgb(0, 0, 0)!important;
}