* {
  box-sizing: border-box;
  text-align: center;
}

.App {
  text-align: center;
  /* background-image: "https://thumbs.dreamstime.com/z/bug-tracking-icon-bug-tracking-icon-vector-image-isolated-white-background-118938714.jpg"; */
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.ui.center.aligned.header {
  color: rgb(0, 0, 0)!important;
}

