.grandparent {
    width: 9em;
    margin: 0 auto
}

.fileContainer {
    display: inline-flex;
    padding: 0
}

.attachment {
    width: 52px;
    padding: 1px
}

.attachment:hover {
    transform: scale(4.5);
    z-index: 2 ;  
    transition: all 0.5s ease-in-out;
}

.deleteImage {
    transform: scale(.5)
}

.ui.dropdown:not(.button)>.default.text {
    color: black
}

.text {
    color: black
}