.grandparent {
    width: 9em;
    /* overflow-x: scroll; */
    /* background: gray */
}

.fileContainer{
    display: inline-flex;
    /* background: green; */
}

.fileContainer .uploadPictureContainer {
    padding: 1%;
    margin: 1%;
    display: inline-table;
    /* background: red */
}

.fileContainer .uploadPictureContainer:hover {
    transform: scale(2.5);
    z-index: 2 ;  
    transition: all 1s ease-in-out;
}
.deleteImage{
    transform: scale(.5)
}
.ui.dropdown:not(.button)>.default.text {
    color: black
}

.text{
    color: black
}

/* .td:hover {
    transform: scale(2)
} */